body {
background-image: url("aikido/porte-ouvert.png");
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
}

header {
display:flex;

padding: 5px;
text-align: center;
font-size: 30px;
border: 2.5px black solid;
}

.enhaut {
align-items:center;
display:flex;
text-align:center;
margin-left: 200px;
}

nav {

}

article {
display: flex;
  margin-left: auto;
  margin-right: auto;
  padding:30px;
  text-align: center;
}

aside {
background-image: url("aikido/torii-pilier.png");
background-repeat:no-repeat;
background-size:57%;
background-position:top;
}

#right{
background-position:left;
}

#left{
background-position:right;


}

section {

}

div {

}

footer {

}

.title_main {
text-align: center;
}

.menu{
border: 2.5px black solid;
margin-left: 100px;
margin-right: 100px;
margin-top: 100px;
display:block;
padding: 10px;
padding-left: auto;
padding-right: auto;
align-items: center;
justify-contents: center;
height:100px;

}

.bouton {
height: 100px;
width: 150px;
margin-right: auto;
margin-left: auto;
}


.fin{
text-align:center;
border: 2.5px black solid;
padding:15px;
background-color:white;
}



#menu_left{
margin-left:110px;
}

#menu_right{
margin-right:110px;
}

.menu_cote {
padding:20px;
text-align:center;
width:100px;
border: 2.5px black solid;
display: block;

}

.image{
display:block;
margin-left: auto;
margin-right: auto;
width: 40%;
padding:30px;
}


.article {
border: 2.5px black solid;
margin-right: 20px;
margin-left: 20px;
width: 800px;
margin-top: 25px;
}


button{
	box-shadow:inset 0px 0px 15px 3px #0c3066;
	background:linear-gradient(to bottom, #87b5ff 5%, #15367a 100%);
	background-color:#87b5ff;
	border:1px solid #1979ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
nutton:hover {
	background:linear-gradient(to bottom, #15367a 5%, #87b5ff 100%);
	background-color:#15367a;
}
button:active {
	position:relative;
	top:1px;
}

.logo{
max-width: 100%;



}

.d1{
	
width:100%;
height:auto;
margin-right:auto;
margin-left:auto;
background-color:#EDEDED;
background-size: contain;	
animation: fondu 9s ease-in-out infinite both;
}

.d2{
	
width:97.5%;
height:auto;
padding-top:75%;
background-color: #EDEDED;
background-size:contain;
	
    animation: fondu 9s ease-in-out infinite both;
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}
@keyframes fondu{
    0%{background-image:url("aikido/dojo.png");}
    33.33%{background-image: url("aikido/photoaikido.png");}
    66.67%{background-image: url("aikido/photoaikido2.png");}
    100%{background-image: url("aikido/dojo.png");}

	}
	
.conteneur{
padding:20px;

}

.torii{
background-image: url("aikido/torii.png");
background-repeat:no-repeat;
background-size:100%;
background-position: top;

}

.portrait{
height:200px;
}

#histoire_main{
display: block;

}

.prout {
display: flex;
margin: 5px;
padding: 5px;
background-color: #F0878C
}

.petit{
height:30px;
margin: 2px;
}

ul li {
list-style-type: none;
}

.fight{
width:650px;
}

.travail{
padding:100px;
background-color:white;


}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 25px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container {
	
  right: 0;
  margin: 15px;
  max-width: 1250px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
